.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  font-size: 17px;
}

.featureSvg:hover {
  transform: scale(1.05);
  transition: transform 0.7s ease;
}

.featureSvg {
  height: 200px;
  width: 200px;
  transition: transform 0.7s ease;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centeredContent h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.textContent {
  font-size: 17px;
}

a {
  text-decoration: none;
}

.teamMembersContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.teamMemberCard {
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.7s ease;
}

.teamMemberCard:hover {
  transform: scale(1.025);
  transition: transform 0.7s ease;
}

.teamMembersTitle {
  font-size: 32px;
  text-align: center;
}

.cardBody {
  text-align: center;
}

.cardTitle {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}

.cardText {
  font-size: 14px;
}

.ganttImage {
  margin-top: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s ease;
}

.ganttImage:hover {
  transform: scale(1.025);
  transition: transform 0.7s ease;
}

body {
  font-size: 16px;
}

.backgroundWrapper {
  /* background-color: #f7f5f5;  */
  width: 100vw; 
  padding: 20px 0; 
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.spacing {
  margin-bottom: 100px;
  display: block;
  width: auto;
  font: 1px;
}