.videoContainer {
    /* position: relative; */
    width: 100%;
    height: 50vh;
    /* border: #f7f5f5 2rem solid;
    border-radius: 2rem; */
    /* padding-bottom: 56.25%; */
    /* overflow: hidden; */
}